aws-devo
aws-gamma
aws-prod
gcp-devo.json
gcp-gamma.json
gcp-prod.json
.editorconfig
.jshintrc
.project
.eslintrc
.jshintrc
.settings/
*/lib/
*/npm-debug.log
node_modules/
*/keyfile.json
keyfile.json
