aws-devo
aws-prod
aws-gamma
gcp-devo.json
gcp-gamma.json
gcp-prod.json
.editorconfig
.jshintrc
.project
.eslintrc
.jshintrc
.settings/
*/lib/
*/keyfile.json
*/npm-debug.log
keyfile.json
node_modules/
